:root {
    color: #423900;
    background-color: #D9CD45;
}   

body {
    height: 100%;
    width: 100%;
}

p {
    font-size: medium;
    text-decoration: solid;
}

hr {
    height: 5px;
    background: black;
    
}
/* header a:last-of-type {
    float: none;
} */
header a, footer a {
    margin: 20px;
    text-decoration: none;
}

header a:visited, header a:link {
    color: none;
    
}

footer {
    position: absolute;
    bottom: 0;
}

a:hover {
    color: blueviolet;
}

.pic {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    height: 30%;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}
.pic-bg {
    background-image: url("../bg.jpg");
}
.list-header {
    text-decoration: solid;
}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.highlightable:hover {
    color: gray;
}
.highlighted {
    background-color: lightblue;
    border-color: blue;
    color: black;
  }