:root {
    color: #423900;
    background-color: #D9CD45;
}   

body {
    height: 100%;
}

hr {
    height: 5px;
    background: black;
    
}
/* header a:last-of-type {
    float: none;
} */
header a, footer a {
    margin: 20px;
    text-decoration: none;
}

header a:visited, header a:link {
    color: none;
    
}

footer {
    position: absolute;
    bottom: 0;
}

a:hover {
    color: blueviolet;
}

.pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.pic-bg {
    background-image: url("../bg.jpg");
}
.list-header {
    text-decoration: solid;
}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}