:root {
    color: #423900;
    background-color: #D9CD45;
}   

hr {
    height: 5px;
    background: black;
    
}
/* header a:last-of-type {
    float: none;
} */
header a {
    margin: 20px;
}
.pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.pic-bg {
    background-image: url("../bg.jpg");
}
.list-header {
    text-decoration: solid;
}